#RewriteCond %{REQUEST_URI} !^.*\.(bmp|css|gif|htc|html?|ico|jpe?g|js|pdf|png|swf|txt|xml|svg|eot|woff|woff2|ttf|map)$
#RewriteRule ^(.*)$ /index.html [L]

#RewriteCond %{REQUEST_URI} !^.*\.(bmp|css|gif|htc|html?|ico|jpe?g|js|pdf|png|swf|txt|xml|svg|eot|woff|woff2|ttf|map)$ [OR]
#RewriteCond %{REQUEST_URI} ^/api/.*
#RewriteRule ^(.*)$ /index.html [L]

RewriteCond %{REQUEST_URI} !^/css/(.*)$
RewriteCond %{REQUEST_URI} !^/fonts/(.*)$
RewriteCond %{REQUEST_URI} !^/images/(.*)$
RewriteCond %{REQUEST_URI} !^/icons/(.*)$
RewriteCond %{REQUEST_URI} !^/js/(.*)$
RewriteCond %{REQUEST_URI} !^/favicon\.ico
RewriteCond %{REQUEST_URI} !^/(.*)\.svg
RewriteCond %{REQUEST_URI} !^/api/(.*)$

RewriteCond %{REQUEST_URI} !^/oauth2/authorization/google$
RewriteCond %{REQUEST_URI} !^/login/oauth2/code/google$

RewriteCond %{REQUEST_URI} !^/oauth2/authorization/github$
RewriteCond %{REQUEST_URI} !^/login/oauth2/code/github$

RewriteCond %{REQUEST_URI} !^/oauth2/authorization/facebook$
RewriteCond %{REQUEST_URI} !^/login/oauth2/code/facebook$

RewriteCond %{REQUEST_URI} !^/oauth2/authorization/naver$
RewriteCond %{REQUEST_URI} !^/login/oauth2/code/naver$

RewriteRule (.*) /index.html